@import './base.css';
@import './fonts.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family:
    'Times New Roman Custom', 'Times New Roman', Times, 'Liberation Serif', serif !important;
}

/* Additional Bootstrap override */
#app *,
#app div,
#app p,
#app span,
#app h1,
#app h2,
#app h3,
#app h4,
#app h5,
#app h6 {
  font-family:
    'Times New Roman Custom', 'Times New Roman', Times, 'Liberation Serif', serif !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
